/* Estilo para o body, define a fonte e cor de fundo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho (header) */
header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

/* Estilo para o título */
h1 {
    margin: 0;
}

/* Estilo para o conteúdo principal (main) */
main {
    text-align: center;
    padding: 20px 0;
}

/* Estilo para o container das imagens */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para as imagens */
.image-container img {
    width: 200px; /* Ajuste o tamanho das imagens conforme necessário */
    margin: 0 10px; /* Espaço entre as imagens */
}

/* Estilo para o rodapé (footer) */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}
